.idea/*
__pycache__/*
exclude_test.py
test.txt
/qa_functions/__pycache__/*
/qa_files/__pycache__/*
/qa_installer_functions/__pycache__/*
/qa_ui/__pycache__/*
/qa_auto_tests/__pycache__/*
test2.py
compiled/*
build/*
*.spec
/exclude_TEST_RESULTS.log
qa_auto_tests/__pycache__/test_all.cpython-38-pytest-6.2.5.pyc
